*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #F5EE33;
}

body{
    min-height: 100vh;
    background-color: #082445;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.logo-container{
    border-radius: 5px 0px 0px 5px ;
    background-color: #0C1E32;
    height: 90vh;
    margin-left: 2%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container__img {
    margin: 17%;
    height: 30vh;
    width: 30vh;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

.link-back{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    margin: auto;
}

.link-back a {
    margin: 3%; 
    margin-top: 5%;
    font-size: 12pt;
}
.link-back a label {
    color: white;
    transition: 1s;
}

.link-back a label:hover{
    color: yellow;
    text-decoration: underline;
}
.header{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.header h1{
    font-family: 'Poppins';
    font-size: 40pt;
    color: #F5EE33;
     font-weight: bold;
}

.login-container{
    background-color: #0C1E32;
    position: relative;
    margin-right: 2%;
    width: 100%;
    height: 90vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


.login-contents{
    
    border-radius: 0px 5px 5px 0px ;
    position: relative;
    width: 30%;
    padding: 5%;
    background-color: #0C1E32;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.5rem;
}


.error-text{
    color: #721c24;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
    display: none;
}

.input-field{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input{
    position: relative;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 30px;
    background: #062c58;
    outline: none;
    color: #96bade;
    font-size: 0.9rem;
    padding: 0 0 0 45px;
}
.input-field i {
    color: #96bade;
}
.input-field input::placeholder{
    color:#96bade;
}
.input-field #eye1{
    position: absolute;
    right: 17px;
    top: 38%;
    font-size: 1rem;
    color: #96bade;
    cursor: pointer;
    transform: translateY(-50%);
}

.input-field #eye2{
    position: absolute;
    right: 17px;
    top: 38%;
    font-size: 1rem;
    color:  #96bade;
    cursor: pointer;
    transform: translateY(-50%);
}

.input-field #eye1.active::before{
    color: #2a547f;
    content: "\f06e";
}

.input-field #eye2.active::before{
    color: #333;
    content: "\f06e";
}

.img-field{
    width: 100%;
    font-size: 1rem;
}

.img-field input{
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.img-field input[type=file]::file-selector-button{
    max-width: 100%;
    font-size: 0.8rem;
    margin-right: 0.8rem;
    background-color: #2A6FB5;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.img-field [type=file]::file-selector-button:hover {
    background: #053160;
  }

.input-field #form{
    position: relative;
    top: -32px;
    left: 17px;
    font-size: 1rem;
    width: fit-content;
    color: #598abb;
}

::-webkit-input-placeholder{
    color: #0C1E32;
}

.bottom{
    position: absolute;
    right: 5px;
    bottom: -20px;
    width: 100%;
    display: flex;
    font-size: small;
    justify-content: flex-end;
    
}
label a{
    text-decoration: none;
    color: #488ed3;
}

label a:hover{
    color: #96bade;
}

.cta{
    width: 100%;
    height: 45px;
    background: #195794;
    color: #F5EE33;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    transition: all 0.3s ease;
}

.cta:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.border{
    width: 10%;
    height: 1px;
}

.sso{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sites{
    position: relative; 
    font-size: 1.5rem;
    color: #2A6FB5;
    margin: 0 0.5rem;
    cursor: pointer;
}

.sign{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign p {
    color:#96bade;
}
.create{
    padding: 0 0.3rem;
    font-size: 0.8rem;
    margin-bottom: 0;
}

.sign a{
    color: #488ed3;
}

/*desktop resolution (4:3, 16:9)*/
@media (min-width: 1000px){
    main {
        display: flex;        
        flex-direction: row;
        height: 100vh;
    }
    .login-container {
        
        max-height: 95vh;
        min-width: 450px;
        max-width: 30vw;
    }
    .login-contents {
        width: 100%;
        height: 100%;
    }    
    .logo-container__img{
        height: 40vh;
        width: 35vh;
    }
    .header h2{
        font-size: 2.2vw;
    }
}


/*tablet resolution (3:4)*/
@media (min-width: 670px) and (max-width: 999px){
    main {
        display: flex;
        align-items: center;
        justify-content: center;        
        flex-direction: column;
    }
    .logo-container {
        border-radius: 5px 5px 0px 0px ;
        margin: 0;
        margin-top: 5%;
        max-height: 50vh;
        max-width: 630px;
        min-width: 630px;
    }
    .login-container {
        transform: translateY(-1%);
        margin:0;
        margin-bottom: 10%;
        max-height: 80vh;
        max-width: 630px;
    }
    .login-contents {
        border-radius: 0px 0px 5px 5px ;
        padding-bottom: 10%;
        width: 100%;
        height: 100%;
    }    
    .logo-container__img{
        height: 35vh;
        width: 30vh;
    }
    .header h2{
        font-size: 2.5rem;
    }
} 
/*phone resolutions (9:16)*/
@media (min-width: 450px) and (max-width: 669px) {    
    main {
        display: flex;
        align-items: center;
        justify-content: center;        
        flex-direction: column;
    }
    .logo-container {
        
        border-radius: 5px 5px 0px 0px ;
        margin: 0;
        max-height: 47vh;
        max-width: 95vw;
        min-width: 95vw;
    }
    .login-container {
        transform: translateY(-1%);
        margin: 0;
        max-height: 80vh;
        max-width: 95vw;
        margin-bottom: 5%;
    }
    .login-contents {
        border-radius: 0px 0px 5px 5px ;
        width: 100%;
        height: 100%;
    }    
    .logo-container__img{
        height: 32h;
        width: 27vh;
    }
    .header h2{
        font-size: 2.2rem;
    }
} 

@media (min-width: 320px ) and (max-width: 449px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;        
        flex-direction: column;
    }
    .logo-container {
        background-color: white;
        border-radius: 5px 5px 0px 0px ;
        margin: 0;
        max-height: 50vh;
        max-width: 95vw;
        min-width: 95vw;
    }
    .login-container {
        transform: translateY(-1%);
        background-color: white;
        margin: 0;
        margin-bottom: 5%;
        max-height: 70vh;
        max-width: 95vw;
    }
    .login-contents {
        border-radius: 0px 0px 5px 5px ;
        width: 100%;
        height: 100%;
    }   
    .header h2{
        font-size: 1.7rem;
    }    
} 
