@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
}


:is(body)::-webkit-scrollbar{
    width: 0;
}

a{
    text-decoration: none;
}

header{
    position: relative;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
}

.wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 2.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    height: 80px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    left: 10%;
    font-size: 1.5rem;
    color: #2A6FB5;
    font-weight: 600;
}

li{
    list-style: none;
}

.nav_item{
    display: inline-block;
    padding: 0 0.5rem;
}

.nav_link{
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3 ease 0s;
    color: #2A6FB5;
}

.nav_link:hover{
    color: #F5EE33;
}
/* hero */
.hero-container{
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
}

.hero-contents{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 2.4375rem;
    padding: 0;
    justify-items: center;
    justify-content: center;
    color: #2A6FB5;
}

.photo-banner{
    position: relative;
    display: flex;
    height: 100%;
    flex: 60%;
    align-content: center;
    justify-content: center;
}

.photo{
    max-width: 60%;
    max-height: 60%;
}

.message{
    position: relative;
    height: 100%;
    flex: 40%;
    align-self: center;
    align-items: center;
    align-content: center;
    display: grid;
    gap: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.cta{
    width: 11rem;
    height: 2.5rem;
    background-color: #2A6FB5;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-link{
    color: #F5EE33;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

/* About */
.info-container{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #145494;
}

.about-contents{
    width: 100%;
    display: flex;
    column-gap: 2.4375rem;
    padding: 0;
    align-content: center;
    justify-content: center;
}

.about-message{
    position: relative;
    height: 100%;
    flex: 60%;
    align-self: center;
    align-items: center;
    align-content: center;
    display: grid;
    gap: 1rem;
    text-align: justify;
    text-justify: inter-word;
    color: #F5F5F5;
}

/* contact */
.contacts-container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-contents{
    width: 75%;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h2{
    font-weight: bolder;
    color: #2A6FB5;
    letter-spacing: 0.2rem;
}

.icon{
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #2A6FB5;
    color: #F5EE33;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(50%);
    transition: transform 0.1s linear;
}

.icon:active{
    transform: translateY(50%) scale(0.85);
}

.icon:first-child{
    left: 3rem;
}

.icon:last-child{
    right: 3rem;
}

.developers{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-top: 3rem;
}

.developers::-webkit-scrollbar {
    display: none;
}

.developers.no-transition {
    scroll-behavior: auto;
}

.developers.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.developers.dragging .card {
    cursor: grab;
    user-select: none;
}

.developers :where(.dev, .profile) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.developers .dev{
    scroll-snap-align: start;
    width: 75%;
    height: 342px;
    list-style: none;
    background: #2A6FB5;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.dev .profile{
    background: #F5EE33;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.profile img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.developers .dev .dev-name {
    font-weight: 500;
    font-size: 1rem;
    margin: 30px 0 5px;
    color: #F5EE33;
}

.developers .dev .position {
    color: #fff;
    font-size: 0.8rem;
}

@media screen and (max-width: 100%) {
    .wrapper .developers {
    grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 100%) {
    .wrapper .developers {
    grid-auto-columns: 100%;
    }
}

/* splash */
.splash{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #0C1E32;
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F5EE33;
}

.logo{
    position: relative;
    display: inline-block; 
    bottom: 20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}



